{% extends "base.html" %}

{% block title %}Attendance History | FaceTrack AI{% endblock %}

{% block content %}
<main class="container">
    <div class="glass-box report-list-container">
        <header class="section-header-split">
            <div>
                <h2>All <span>Attendance Reports</span></h2>
                <p>View and manage previous attendance sessions</p>
            </div>
            <a href="/faculty-dashboard" class="action-card btn-small">
                <i class="fa-solid fa-house"></i> Dashboard
            </a>
        </header>

        {% for r in reports %}

        <div class="session-item">
            <div class="info-group">
                <h3>{{ r.subject }}</h3>
                <p>
                    Year {{ r.year }} (Sem {{ r.semester }})
                </p>
            </div>
            <div class="btn-group">
                <a href="{{ url_for('attendance_report',
                                    subject=r.subject,
                                    year=r.year,
                                    semester=r.semester) }}" 
                    class="view-btn">
                    <i class="fa-solid fa-eye"></i> View Detailed Report
                </a>
            </div>
        </div>
        {% else %}
        <div class="no-data">
            <i class="fa-solid fa-folder-open"></i>
            <h3>No Reports Found</h3>
            <p>You haven't taken any attendance for your subjects yet.</p>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}