{% extends "base.html" %}

{% block title %}FaceTrack AI | Home{% endblock %}

{% block content %}
<main class="container">
    <div class="glass-box">
        <header class="hero">
            <div class="hero-content">
                <h1>FaceTrack<span>AI</span></h1>
                <p>AI-powered classroom attendance tracker</p>
            </div>
            <div class="hero-image">
                <img src="{{ url_for('static', filename='Images/icon.png') }}" alt="Face Scan Icon">
            </div>
        </header>

        <nav class="nav-grid">
            <a href="/login" class="action-card fac">
                <div class="icon-circle"><i class="fa-solid fa-right-to-bracket"></i></div>
                <div class="card-info">
                    <h3>Login</h3>
                </div>
            </a>

            <a href="/register" class="action-card reg">
                <div class="icon-circle"><i class="fa-solid fa-user-plus"></i></div>
                <div class="card-info">
                    <h3>Register</h3>
                </div>
            </a>
        </nav>
    </div>
</main>
{% endblock %}