{% extends "base.html" %}

{% block title %}FaceTrack AI | Select Role{% endblock %}

{% block content %}
<main class="container">
    <div class="glass-box reg-card">
        <header>
            <h2>Welcome To Registration Page!</h2>
            <p>Please select your role to continue</p>
        </header>

        <div class="role-selection-grid">
            <a href="/register-form?role=student" class="role-card student-card">
                <div class="card-info">
                    <h3><i class="fa-solid fa-user-graduate"></i><br>Student</h3>
                </div>
            </a>

            <a href="/register-form?role=faculty" class="role-card faculty-card">
                <div class="card-info">
                    <h3><i class="fa-solid fa-user-tie"></i><br>Faculty</h3>
                </div>
            </a>
        </div>

        <footer class="form-footer">
            <a href="/" class="action-card back-link">Back to Home</a>
        </footer>
    </div>
</main>
{% endblock %}